@media only screen and (max-width: 600px) {
  #home {
    padding: 0;
  }

  .home-content {
    padding: 5px;
        align-items: center;
  }

  .home-content > div {
    width: 100% !important;
  }

  div.user-info {
    width: 100% !important;
  }
}
