@media only screen and (max-width: 600px) {
  /* HOME */
  #home {
    padding: 0;
  }

  .home-content {
    padding: 5px;
        align-items: center;
  }

  .home-content > div {
    width: 100% !important;
  }

  div.user-info {
    width: 100% !important;
  }

  /* INSTRUCTIONS */
  .guide-container::after {
    display: none !important;
  }

  /* PORTFOLIO */
    .portfolio-container {
      font-size: 1em;
  }

    canvas {
    height: 172px !important;
    width: 345px !important;
  }
}

@media (max-width: 992px) { 
  .guide-container {
    height: auto !important;
  }

  #home {
    height: 100%;
  }

  .portfolio-container .portfolio-top-wrapper {
    display: block !important;
  }

  .portfolio-top-wrapper .user-info {
      margin: 10px auto 0 auto !important;
  }
}
