@media only screen and (max-width: 600px) {
  /* HOME */
  #home {
    padding: 0;
  }

  .home-content {
    padding: 5px;
        align-items: center;
  }

  .home-content > div {
    width: 100% !important;
  }

  div.user-info {
    width: 100% !important;
  }

  /* INSTRUCTIONS */
  .guide-container::after {
    display: none !important;
  }

  /* PORTFOLIO */
  .portfolio-container {
    font-size: 1em;
}
}

@media (max-width: 992px) { 
  .guide-container {
    height: auto !important;
  }

  #home {
    height: 100%;
  }
}
