
#home {
   background: url('../../images/stock-hero.jpg') no-repeat center center/cover;
   height: 95vh;
   position: relative;
   padding: 40px;
}

#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

#home * {
  z-index: 10;
}

.home-content {
  width: 70%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 75%;
  padding: 0 20px;
  font-size: 1.3rem;
  color: #fff;
}

.home-buttons-wrapper {
 margin: 20px; 
}

.home-buttons-wrapper .btn {
  margin-right: 20px;
  font-size: 1.2rem;
}

